@mixin btnStyle($btn_font_family) {
   font-family: $btn_font_family;
   background-color: #5474fd; 
   font-size: 16px;
   padding: 0 1em;
   position: relative;
   overflow: hidden;
}

@mixin btnShine {
   content: '';
   position: absolute;
   top: -50%;
   right: -50%;
   bottom: -50%;
   left: -50%;
   background: linear-gradient(to bottom, rgba(229, 172, 142, 0), rgba(255,255,255,0.5) 50%, rgba(229, 172, 142, 0));
   transform: rotateZ(60deg) translate(-5em, 7.5em);
}